a.arrow {
    display: inline-block;
    margin: 0 5px;
    font-size: 0;
}

.arrow::before {
    content: "";
    display: inline-block;
    border: 15px solid #d3d2d2;
    border-right-width: 8px;
    border-left-width: 8px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.arrow-up::before {
    border-top-width: 0;
}

.arrow-down::before {
    border-bottom-width: 0;
}
