@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroylight.woff),
       url(../fonts/gilroylight.woff2);
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroyextrabold.woff),
       url(../fonts/gilroyextrabold.woff2);
  font-weight: 700;
  font-style: ExtraBold;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensanslight.woff),
       url(../fonts/opensanslight.woff2);
  font-weight: 300;
  font-style: Light;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/gilroylight.woff),
       url(../fonts/opensans.woff2);
  font-weight: 400;
  font-style: Regular;
}

body {
  margin: 0;
  padding: 0;
  font-family: opensans, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #464646;
  line-height: 30px;
  text-transform: uppercase;
  border-color: #ffffff;
  min-width: 1200px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7e296;
  width: 1160px;
  height: 299px;
  margin-bottom: 50px;
}

.main-header-logo {
  text-decoration: none;
  color: #000;
  font-size: 48px;
  font-family: gilroyextrabold, sans-serif;
  line-height: 48px;
}

.main-header-logo:hover {
  color: rgba(0,0,0,0.6);
}

.main-header-logo:active {
  color: rgba(0,0,0,0.3);
}

.user-navigation a {
  text-decoration: none;
  text-transform: none;
  color: #000;
  font-family: gilroylight, sans-serif;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.1em;
  font-size: 15px;
  line-height: 30px;
  color: #000;
}

.user-navigation a:hover {
  color: rgba(0,0,0,0.6);
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.enter-link {
  width: 120px;
}

.compare-link {
  width: 120px;
}

.basket-link {
  width: 100px;
}

.user-navigation {
  display: flex;
  align-items: center;
}

.user-navigation li:nth-of-type(2) {
  margin-left: 120px;
  margin-right: 180px;
}

.user-navigation li:nth-of-type(3) {
  margin-right: 20px;
}

.search-link a {
  text-decoration: none;
  text-transform: none;
  font-family: opensanslight, sans-serif;
  line-height: 30px;
  color: rgba(0,0,0,0.3);
  padding: 15px 20px;
  border: 0;
  margin: 0;
  letter-spacing: 0.01em;
}

.search-link a:hover {
  background-color: #000;
  color: #ffffff;
}

.search-link a:active {
  color: #747474;
}


.search-link input {
  border: 0;
  background-color: #f7e296;
  color: rgba(0,0,0,0.3);
  outline: 0;
  font-family: opensanslight, sans-serif;
  line-height: 30px;
  margin: 0;
  height: 40px;
  width: 320px;
}

 .search-link input:focus {
  border-bottom: 2px solid #000;
  color: rgba(0,0,0,1);
}


/*  Навигация */
.site-navigation {
  display: flex;
}

.site-navigation a {
  color: #000;
  font-family: gilroyextrabold, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
}

.site-navigation a:hover {
  color: rgba(0,0,0,0.6);
}

.site-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.site-navigation .catalog {
  width: 300px;
}

.delivery {
  width: 126
}

.site-navigation li:nth-of-type(2) {

}

.site-navigation li:nth-of-type(3) {

}

.site-navigation li:nth-of-type(4) {

}

.site-navigation {
  border: 1px solid red;
}

.dropdown {
  color: #000;
  font-family: opensanslight, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-transform: none;
}














/* Слайдды */
.slides h3 {
  font-family: gilroyextrabold, sans-serif;
  font-size: 47px;
  line-height: 56px;
  color: #000;
  font-weight: 800;
  text-transform: none;
  width: 500px;
}

.slides p {
  font-family: opensans, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  width: 500px;
  text-transform: none;
}

.slides a {
  text-decoration: none;
  list-style-type: none;
  color: #000000;
  font-family: gilroyextrabold, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
}

.description {
  display: flex;
  margin: 0;
  width: 460px;
}

.description p {
  color: #000;
  font-family: gilroylight, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 160px;
}

.description span {
  font-family: opensans, sans-serif;
  font-size: 13px;
  color: #464646;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-transform: none;
  margin: 0;
  padding: 0;
}

.product-1 {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
}






/* Популярное */

.popular .popular-items {
  display: flex;
  justify-content: space-between;
}

.popular-items a {
  text-transform: none;
  font-family: gilroyextrabold, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 24px;
}

.popular-items a:active {
  color: rgba(0,0,0,0.3);
}

.popular-item {
  width: 160px;
}





/* Сервисное */

.services {
  background-color: #e5e5e5;
}

.services-items {
  display: flex;
  flex-direction: row;
}

.services-items a {
  font-family: gilroyextrabold, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #000;
  width: 160px;
}

.services-items a:hover {
  width: 160px;
  color: #f7e184;
  background-color: #000;
}

.services-item {
  display: flex;
}

.about-info {
  width: 460px;
}






.modal input {
  padding: 18px;
  width: 360px;
  height: 50px;
  background-color: #f2f2f2;
  border: 0;
  color: #bababa;
}

.modal input:hover {
  background-color: #eaeaea;
  color: #b8b8b8;
}

.modal input:focus {
  border: 3px solid #f7e296;
  outline: none;
  background-color: #ffffff;
  color: #000000;
}

.modal input:invalid {
  border: 0;
  background-color: #f6dada;
}

.modal input:valid {
  background-color: #daf6e1;
  border: 0;
}

.modal .button-send {
  list-style-type: none;
  text-decoration: none;
  color: #000;
}

textarea {
  width: 760px;
  height: 156px;
  background-color: #f2f2f2;
  border: 0;
  color: #bababa;
}

textarea:hover {
  background-color: #eaeaea;
  color: #b8b8b8;
}

textarea:focus {
  border: 3px solid #f7e296;
  outline: none;
  background-color: #ffffff;
  color: #000000;
}

.footer-main {
  background-color: #464646;
  color: #ffffff;
}

.logo-footer {
  color: #ffc600;
}

h1 {
  font-family: "Gilroy, Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  font-weight: 700;
}

.breadcrumbs li {
  list-style-type: none;
  color: #cacaca;
}

.breadcrumbs a {
  text-decoration: none;
  color: #cacaca;
}

.breadcrumbs a:hover, .breadcrumbs a:focus {
  color: #8d8d8d;
}

.breadcrumbs a:active {
  color: #efefef;
}

.sort-1 {
  font-family: "Gilroy, Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 2px;
  background-color: #eeeeee;
}

.sort-2 {
  background-color: #dbdbdb;
}

.sort-2 li {
  list-style-type: none;
}

.sort-2 a {
  text-decoration: none;
  color: #b2b2b2;
  font-family: "Open Sans, Arial", sans-serif;
  font-size: 14px;
  line-height: 100%;
  text-transform: none;
}

.sort-2 a:hover, .sort-2 a:focus {
  border: 0;
  color: #666666;
}

.sort-2 a:active {
  color: #000000;
}

.form-filters {
  background-color: #efefef;
}

.modal-popup a {
  color: #a3a3a3;
  font-family: "Open Sans, Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 100%;
}

.modal-popup a:hover {
  color: #000000;
}

.modal-popup a:active {
  color: #dddddd;
}

.pagination-list {
  background-color: #ebebeb;
}

.pagination-list li {
  list-style-type: none;
}

.pagination-list a {
  text-decoration: none;
  color: #000;
}

.pagination-list:first-child li:hover {
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
}
