body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #464646;
  line-height: 30px;
  text-transform: uppercase;
  border-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7e296;
  width: 1160px;
  height: 299px;
  margin-bottom: 50px;
}

.main-header-logo {
  text-decoration: none;
  color: #000;
  font-size: 48px;
  font-weight: extra-bold;
  letter-spacing: 10px;
  line-height: 10px;
}

.main-header-logo:hover {
  color: #8d8d8d;
}

.main-header-logo:active {
  color: #cacaca;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
}

.user-navigation:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
}

.user-navigation>li>a {
  text-decoration: none;
  font-size: 15px;
  text-transform: none;
  color: #000000;
}

.user-navigation>li>a:hover, .user-navigation>li>a:focus {
  color: #887c50;
}

.user-navigation>li>a:active {
  color: #c4b376;
}

.user-navigation li {
  list-style-type: none;
}

.user-navigation input {
  color: #c4b376;
  padding: 17px 20px;
}

.user-navigation input:hover {
  color: #887c50;
}

.user-navigation input {
  border: 0;
  background-color: #f7e296;
  outline-color: #f7e296;
}

.user-navigation input:focus {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.search-link .button-find {
  background-color: #f7e296;
  padding: 17px 20px;
}

.search-link .button-find:focus {
  border: 2px solid #000000;
  visibility: visible;
  padding: 17px 20px;
  background-color: #f7e296;
}

.search-link .button-find:hover {
  background-color: #000000;
  color: #e9e9e9;
  padding: 17px 20px;
}

.search-link .button-find:active {
  color: #747474;
  padding: 17px 20px;
}

.site-navigation>li>a {
  text-decoration: none;
  font-size: 18px;
  text-transform: none;
  color: #000000;
  font-family: "Gilroy, Arial", sans-serif;
  letter-spacing: 3px;
}

.site-navigation li {
  list-style-type: none;
}

.site-navigation>li>a:hover {
  color: #887c50;
}

.site-navigation>li>a:active {
  color: #c4b376;
}

.dropdown .dropdown-link a {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  text-transform: none;
  font-family: "Open Sans, Arial", sans-serif;
  font-weight: Light;
}

.dropdown .dropdown-link a:hover {
  color: #887b46;
}

.dropdown .dropdown-link a:active {
  color: #c4b367;
}

.slides h3 {
  font-family: "Gilroy, Arilal", sans-serif;
  font-size: 47px;
  line-height: 10px;
}

.slides p {
  font-family: "Open Sans, Arial", sans-serif;
  font-size: 15px;
  line-height: 10px;
  color: #464646;
}

.slides a {
  text-decoration: none;
  list-style-type: none;
  color: #000000;
  font-family: "Gilroy, Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.description p {
  font-family: "Gilroy, Arial", sans-serif;
  font-size: 36px;
  line-height: 35px;
  font-weight: 400;
}

.description span {
  font-family: "Open sans, Arial", sans-serif;
  font-size: 13px;
  line-height: 10px;
}

.services {
  background-color: #e5e5e5;
  width: 1445px;
  height: 288px;
}

.services a {
  background-color: #f0c52e;
  background-size: 160px 8px;
  text-decoration: none;
  list-style-type: none;
  color: #000000;
  padding: 0 5px;
}

.site-navigation>li {
  position: relative;
}

.site-navigation .dropdown {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: #f7e296;
  width: 586px;
  height: 130px;
  top: 40px;
  left: 0;
  z-index: 10;
  display: none;
}

.site-navigation>li:hover .dropdown {
  display: block;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  line-height: 45px;
}

.site-navigation .dropdown:nth-child(2) {
  margin-left: auto;
}

.dropdown {
  display: flex;
}

.popular .popular-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular-items li {
  width: 130px;
  height: 60px;
  list-style-type: none;
}

.popular-items a {
  text-decoration: none;
  text-transform: none;
  color: #000000;
  font-family: "Gilroy, Arial", sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.popular-items a:active {
  color: #cacaca;
}

.services {
  display: flex;
}

.services ul {
  display: flex;
  flex-direction: column;
}

.services-items li {
  width: 440px;
  font-family: "Open Sans, Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

.services h4, .info-contacts h3 {
  font-family: "Gilroy, Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.services p, .info-contacts p {
  font-family: "Open Sans, Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
  color: #464646;
}

.modal input {
  padding: 18px;
  width: 360px;
  height: 50px;
  background-color: #f2f2f2;
  border: 0;
  color: #bababa;
}

.modal input:hover {
  background-color: #eaeaea;
  color: #b8b8b8;
}

.modal input:focus {
  border: 3px solid #f7e296;
  outline: none;
  background-color: #ffffff;
  color: #000000;
}

.modal input:invalid {
  border: 0;
  background-color: #f6dada;
}

.modal input:valid {
  background-color: #daf6e1;
  border: 0;
}

.modal .button-send {
  list-style-type: none;
  text-decoration: none;
  color: #000;
}

textarea {
  width: 760px;
  height: 156px;
  background-color: #f2f2f2;
  border: 0;
  color: #bababa;
}

textarea:hover {
  background-color: #eaeaea;
  color: #b8b8b8;
}

textarea:focus {
  border: 3px solid #f7e296;
  outline: none;
  background-color: #ffffff;
  color: #000000;
}

.footer-main {
  background-color: #464646;
  color: #ffffff;
}

.logo-footer {
  color: #ffc600;
}

h1 {
  font-family: "Gilroy, Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  font-weight: 700;
}

.breadcrumbs li {
  list-style-type: none;
  color: #cacaca;
}

.breadcrumbs a {
  text-decoration: none;
  color: #cacaca;
}

.breadcrumbs a:hover, .breadcrumbs a:focus {
  color: #8d8d8d;
}

.breadcrumbs a:active {
  color: #efefef;
}

.sort-1 {
  font-family: "Gilroy, Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 2px;
  background-color: #eeeeee;
}

.sort-2 {
  background-color: #dbdbdb;
}

.sort-2 li {
  list-style-type: none;
}

.sort-2 a {
  text-decoration: none;
  color: #b2b2b2;
  font-family: "Open Sans, Arial", sans-serif;
  font-size: 14px;
  line-height: 100%;
  text-transform: none;
}

.sort-2 a:hover, .sort-2 a:focus {
  border: 0;
  color: #666666;
}

.sort-2 a:active {
  color: #000000;
}

.form-filters {
  background-color: #efefef;
}

.modal-popup a {
  color: #a3a3a3;
  font-family: "Open Sans, Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 100%;
}

.modal-popup a:hover {
  color: #000000;
}

.modal-popup a:active {
  color: #dddddd;
}

.pagination-list {
  background-color: #ebebeb;
}

.pagination-list li {
  list-style-type: none;
}

.pagination-list a {
  text-decoration: none;
  color: #000;
}

.pagination-list:first-child li:hover {
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
}
