@font-face {
  font-family: "gilroylight";
  src: url(../fonts/gilroylight.woff), url(../fonts/gilroylight.woff2);
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "gilroyextrabold";
  src: url(../fonts/gilroyextrabold.woff), url(../fonts/gilroyextrabold.woff2);
  font-weight: 700;
  font-style: ExtraBold;
}


body {
  margin: 0;
  padding: 0;
  font-family: opensans, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #464646;
  line-height: 30px;
  text-transform: uppercase;
  border-color: #ffffff;
  min-width: 1200px;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.container-1 {
  margin-left: 60px;
}

.main-header {
  background-color: #f7e296;
  width: 1160px;
  height: 299px;
  margin-bottom: 50px;
}

.main-header-logo {
  text-decoration: none;
  color: #000;
  font-size: 48px;
  font-family: gilroyextrabold, sans-serif;
  line-height: 48px;
  font-weight: 800;
  position: relative;
  top: -23px;
  left: 57px;
}

.main-header-logo:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-header-logo:active {
  color: rgba(0, 0, 0, 0.3);
}

/* User-navigation */

.user-navigation a {
  text-decoration: none;
  text-transform: none;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 15px;
  line-height: 30px;
  color: #000;
  display: block;
}

.user-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}


.user-navigation {
  display: flex;
  justify-content: space-between;
  max-width: 1040px;
  margin: 0 auto;
}

.user-navigation .enter-link {
  padding-left: 50px;
  position: relative;
}


.enter-link::before {
  content: "";
  width: 16px;
  height: 18px;
  position: absolute;
  top: 8px;
  left: 30px;
  background-image: url(../img/svg/user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.enter-link:hover::before,
.enter-linl:focus::before {
  opacity: 0.6;
}

.enter-link:active::before {
  opacity: 0.3;
}

.user-navigation .compare-link {
  padding-left: 50px;
  position: relative;
}

.compare-link::before {
  content: "";
  width: 16px;
  height: 18px;
  position: absolute;
  top: 10px;
  left: 30px;
  background-image: url(../img/svg/compare.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare-link:hover::before,
.compare-linl:focus::before {
  opacity: 0.6;
}

.compare-link:active::before {
  opacity: 0.3;
}

.user-navigation .basket-link {
  padding-left: 50px;
  position: relative;
}

.basket-link::before {
  content: "";
  width: 16px;
  height: 18px;
  position: absolute;
  top: 8px;
  left: 30px;
  background-image: url(../img/svg/cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-link:hover::before,
.basket-linl:focus::before {
  opacity: 0.6;
}

.basket-link:active::before {
  opacity: 0.3;
}

.d6 {
  outline: 1px solid red;
}

.d6 input {
  border: 0;
  background-color: #f7e296;
  outline: 0;
  border-bottom: 2px solid black;
  padding: 8px 20px;
  margin: -5px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  width: 250px;
}

.d6 input::placeholder {
  color: rgba(0,0,0,0.3);
}

.d6 input:hover::placeholder {
  color: rgba(0,0,0,0.6);
}

.d6 input:focus::placeholder {
  color: rgba(0,0,0,1);
}

.d6 button {
  background-color: #f7e296;
  border: 2px solid black;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  padding: 8px 20px;
  outline: 0;
  margin: 0;
  width: 100px;
}

.d6 button:hover {
  background-color: #000;
  color: #fff;
}

.d6 button:active {
  color: rgba(255,255,255,0.3);
}

/*  Навигация */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1040px;
  margin: 0 auto;
}

.site-navigation li {
  display: inline-block;
}

.site-navigation > li {
  position: relative;
}

.site-navigation a {
  color: #000;
  font-family: gilroyextrabold, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  display: block;
  padding: 8px 0;
  height: 40px;
}

.site-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .catalog {
  width: 300px;
}

.delivery {
  width: 126
}

.site-navigation .dropdown {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  top: 50px;
  width: 600px;
  display: none;
}

.dropdown a {
  font-family: opensanslight, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  color: #000;
  text-transform: none;
  letter-spacing: 1px;
  margin-right: 25px;
  display: block;
  height: 10px;
}

.site-navigation > li:hover .dropdown {
  display: block;
}


/* Слайдды */

.slides {
  margin-bottom: 100px;
}

.slides h3 {
  font-family: gilroyextrabold, sans-serif;
  font-size: 47px;
  line-height: 56px;
  color: #000;
  font-weight: 800;
  text-transform: none;
  width: 500px;
}

.slides p {
  font-family: 'Open sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  width: 500px;
  text-transform: none;
}

.slides a {
  text-decoration: none;
  list-style-type: none;
  color: #000000;
  font-family: gilroyextrabold, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
}

.description-slides {
  width: 500px;
}

.image-slide {
  width: 500px;
}

.description {
  display: flex;
  margin: 0;
  width: 460px;
}

.description p {
  color: #000;
  font-family: gilroylight, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 160px;
}

.description span {
  font-family: opensans, sans-serif;
  font-size: 13px;
  color: #464646;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-transform: none;
}

.product-1 {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
}

.product-page::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 20%;
  background-color: #f0c52e;
  transition: all .2s ease-in-out;
  transform: translateY(-50%);
}

.product-page:hover {
  height: 100%;
}

/* Популярное */

.popular .popular-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-items a {
  text-transform: none;
  font-family: gilroyextrabold, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 24px;
}

.popular-items a:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-item {
  width: 160px;
}

.popular-img {
  width: 160px;
  height: 160px;
}

.popular-items {
  background-color: #f
}

/* Сервисное */

.services {
  background-color: #e5e5e5;
}

.services-items {
  display: flex;
}

.services-items a {
  font-family: gilroyextrabold, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #000;
  width: 160px;
}

.services-items a:hover {
  width: 160px;
  color: #f7e184;
  background-color: #000;
}

.services-item {
  display: flex;
}

.about-info {
  width: 385px;
}

.services-items h4 {
  font-family: gilroyextrabold, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000;
}

.services-items p {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  text-transform: none;
}

/* О нас */

.for-flex {
  display: flex;
}

.info-contacts h3 {
  font-family: gilroyextrabold, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000;
  text-transform: none;
}

.info-contacts p {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  text-transform: none;
  color: #464646;
}

.info-contacts a {
  font-family: gilroyextrabold, sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000;
  text-transform: none;
}


.info {
  width: 599px;
}

.contacts {
  width: 599px;
}

.moore-info {
  font-family: gilroyextrabold, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
}

/* Модалка "Напишите нам" */

form {
  width: 360px;
}

.modal input {
  width: 360px;
  height: 50px;
  background-color: #f2f2f2;
  border: 0;
  color: #bababa;
}

.modal input:hover {
  background-color: #eaeaea;
  color: #b8b8b8;
}

.modal input:focus {
  border: 3px solid #f7e296;
  outline: none;
  background-color: #ffffff;
  color: #000000;
}

.modal input:valid {
  background-color: #daf6e1;
  border: 0;
}

.modal .button-send {
  text-decoration: none;
  color: #000;
  font-family: gilroyextrabold, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
}

.modal label {
  font-family: gilroyextrabold, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-transform: none;
}

textarea {
  width: 760px;
  height: 156px;
  background-color: #f2f2f2;
  border: 0;
  color: #bababa;
}

textarea:hover {
  background-color: #eaeaea;
  color: #b8b8b8;
}

textarea:focus {
  border: 3px solid #f7e296;
  outline: none;
  background-color: #ffffff;
  color: #000000;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */

.footer-main {
  background-color: #464646;
  color: #ffffff;
}

.footer-main a {
  color: #fff;
}

.footer-logo {
  text-decoration: none;
  color: #ffc600;
  font-size: 48px;
  font-family: gilroyextrabold, sans-serif;
  line-height: auto;
}

.footer-logo:hover {
  color: rgba(255,198,0,0.6);
}

.footer-logo:active {
  color: rgba(255,198,0,0.3);
}

.footer-link {
  color: rgba(255,255,255,0.3);
}

.site-navigation-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1040px;
  align-content: center;
}
.site-navigation-footer a {
  color: rgba(255, 255, 255, 1);
  font-family: gilroyextrabold, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  display: block;
  padding: 18px 0;
  height: 40px;

}
.site-navigation-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.site-navigation-footer a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-footer .catalog {
  width: 300px;
}

.site-navigation-footer p {
  font-family: opensanslight, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #fff;
  text-transform: none;
}

.footer-link {
  align-items: center;
}

.footer-link a {
  color: rgba(255,255,255,0.7);
}

.footer-link a:first-child {
  justify-content: flex-start;
}

.socials-items {
  display: flex;
  justify-content: center;
}

.socials-items a {
  margin-right: 23px;
}

.social-button {
  opacity: 0.3;
}

.social-button:hover {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.3;
}

.logo-academy:hover {
  opacity: 0.6;
}

.logo-academy:active {
  opacity: 0.3;
}

.enter-link {
  color: rgba(255,255,255,0.7);
  font-family: opensanslight, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  text-transform: none;
}

.enter-link:hover {
  color: rgba(255,255,255,1);
}

.enter-link:active {
  color: rgba(255,255,255,0.3);
}

.enter-link path {
  fill: #ffc600;
}

.enter-link path:hover {
  opacity: 0.6;
}

.enter-link path:active {
  opacity: 0.3;
}

.enter-link span {
  margin-left: 9px;
}

.user-navigation-footer {
  display: flex;
  justify-content: space-between;
}



/* Catalog.html */
/* breadcrumbs */

.for-h1 h1 {
  font-family: gilroyextrabold, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 900;
  color: #000;
  text-transform: none;
}

.breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumbs li {
  list-style-type: none;
  color: #cacaca;
}

.breadcrumbs a {
  text-decoration: none;
  color: #cacaca;
  font-family: opensanslight, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  font-weight: 400;
  margin-right: 10px;
}

.main-bread {
  position: relative;
  margin-right: 50px;
}

.breadcrumbs li {
  margin-right: 30px;
}

.main-bread::after {
  content: "";
  width: 4px;
  height: 7px;
  position: absolute;
  top: 5px;
  left: 70px;
  background-image: url(../img/svg/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-bread::after {
  content: "";
  width: 4px;
  height: 7px;
  position: absolute;
  top: 5px;
  left: 70px;
  background-image: url(../img/svg/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-current {
  text-decoration: none;
  color: #cacaca;
  font-family: opensanslight, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  font-weight: 400;
}

.breadcrumbs a:hover, .breadcrumbs a:focus {
  color: #8d8d8d;
}

.breadcrumbs a:active {
  color: #efefef;
}


/* Сортировка */

.sort-1 {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.sort-1 .sort-2 {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
}

.sort-1 h3 {
  font-family: gilroyextrabold, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #000;
}

.sort-1 a {
  text-transform: none;
  color: #000;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
}

.sort-1 a:hover,
.sort-1 a:focus {
  color: rgba(0,0,0,0.6);
}

.sort-1 a:active {
  color: rgba(0,0,0,1);
}

.sort-1 h3:first-child {
  width: 340px;
}

.sort-1 h3:nth-child(2) {
  width: 230px;
}

.goods {
  width: 230px;
  display: flex;
  justify-content: flex-end;
}


/* Форма фильтров */

.filters {
  width: 270px;
}


.moove {
  margin-left: 60px;
}

form .search {
  display: flex;
  flex-direction: column;
}

form fieldset:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

form fieldset:nth-child(4) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

fieldset {
  width: 200px;
  margin: 0;
  padding: 0;
  border: 0;
}

form a {
  text-align: center;
  width: 200px;
  margin: 0;
  padding: 0;
}

.top-bor {
  border-top: 2px solid #000;
  width: 200px;
  font-family: gilroyextrabold, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-transform: none;
  padding: 10px 0;
}

form label {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: #000;
  text-transform: none;
}

.login-help {
  display: flex;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 8px;
  left: 0;
  width: 23px;
  height: 23px;
  background: url(../img/svg/checkbox-off.svg) no-repeat;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  opacity: 0.6;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator,
.login-checkbox input[type="checkbox"]:active + .checkbox-indicator {
  background: url('../img/svg/checkbox-on.svg') no-repeat;
}

.login-rad {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.login-radio {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.login-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 8px;
  left: 0;
  width: 25px;
  height: 25px;
  background: url(../img/svg/radio-off.svg) no-repeat;
}

.login-radio input[type="radio"]:focus + .radio-indicator {
  opacity: 0.6;
}

.login-radio input[type="radio"]:checked + .radio-indicator,
.login-radio input[type="radio"]:active + .radio-indicator {
  background: url('../img/svg/radio-on.svg') no-repeat;
}

.color p:last-child {
  margin-bottom: 41px;
}



/* Модалка */


.popup-modal-big {
  font-family: gilroyextrabold, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 2px;
}

.popup-modal-big:active {
  color: rgba(0,0,0,0.3);
}

.popup-modal-small {
  font-family: opensanslight, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0,0,0,0.3);
  font-weight: 400;
  text-transform: none;
}

.popup-modal-small:hover {
  color: #000;
}

.popup-modal-small:active {
  color: rgba(0,0,0,0.2);
}


/* Пагинация страниц */

.pagination-list {
  display: flex;
  outline: 1px solid red;
  width: 100%;
  justify-content: flex-end;
}

.pagination-list li {
  outline: 1px solid red;
}

.pagination-list li:first-child {
}

.pagination-list li:last-child {
}





/* Каталог продуктов */

.catalog {
  width: 760px;
  margin-top: 70px;
  margin-left: 70px;
}

.catalog li {
  margin-right: 40px;
}

.catalog li:nth-child(2n) {
  margin-right: 0;
}

.catalog-list {
  display: flex;
  width: 760px;
  flex-wrap: wrap;
}

.catalog-item span {
  font-family: gilroyextrabold, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-transform: none;
}

.catalog-item b {
  font-family: gilroylight, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-transform: none;
}

.index-columns {
  display: flex;
  flex-wrap: wrap;
}

.explanation {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.explanation h3 {
  width: 260px;
}
